@import "./variables.scss";

.archive {
  width: 100%;
  padding-top: 40px;
  min-height: 20vh;

  span {
    font-size: 40px;
    font-family: $font_text;
    font-weight: 700;
  }
  .items {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 12vw;
      height: 12vw;
      margin-right: 20px;
      margin-bottom: 20px;
      background-color: $color_gray;
      cursor: pointer;
    }
  }
}
