@import "./variables.scss";

.upcoming {
  width: 100%;
  min-height: 20vh;

  span {
    font-size: 40px;
    font-family: $font_text;
    font-weight: 700;
  }
  .grants {
    display: flex;

    .grant {
      flex-grow: 1;
      height: 40vh;
      background-color: $color_gray;
      cursor: pointer;
      overflow: hidden;
      filter: brightness(0.8);
      transition: 0.3s;
      font-family: $font_text;

      &:hover {
        transition: 0.3s;
        filter: none;
      }

      .header {
        margin-top: 40px;
        margin-left: 40px;
        padding: 6px 0 6px 20px;
        font-size: 40px;
        text-transform: uppercase;
        background: $color_black;
        color: $color_white;
      }
      .text {
        margin-left: 40px;
        padding: 10px 20px 40px;
        background: $color_white;
        font-size: 24px;
      }
    }
  }
}
