@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Cormorant+Garamond:400,400i,700,700i');
@import url("http://fonts.fontstorage.com/import/bradobrei.css");


$color_black: #07090F;
$color_pink: #F564A9;
$color_white: #FFFFFF;
$color_gray: #D9D9DC;
$color_red: red;

$font_header: 'Bradobrei', monospace;
$font_text: 'Cormorant Garamond', serif;

$image_bg: url('./images/bg.gif');

$hard_box_shadow: 1px 1px 0 $color_red,
                  4px 2px 0 $color_red,
                  7px 2px 0 $color_red,
                  10px 2px 0 $color_red,
                  13px 2px 0 $color_red,
                  16px 2px 0 $color_red,
                  19px 2px 0 $color_red,
                  22px 22px 0 $color_red,
                  25px 25px 0 $color_red,
                  28px 28px 0 $color_red,
                  31px 31px 0 $color_red,
                  34px 34px 0 $color_red,
                  37px 37px 0 $color_red,
                  40px 40px 0 $color_red,
                  43px 43px 0 $color_red,
                  46px 46px 0 $color_red,
                  49px 49px 0 $color_red,
                  52px 52px 0 $color_red,
                  55px 55px 0 $color_red,
                  58px 58px 0 $color_red,
                  61px 61px 0 $color_red,
                  64px 64px 0 $color_red,
                  67px 67px 0 $color_red,
                  70px 70px 0 $color_red,
                  73px 73px 0 $color_red,
                  76px 76px 0 $color_red,
                  79px 79px 0 $color_red;
